<div class="col-md-12">
  <div class="film">
    <%= link_to("Add a film", new_film_path, class: "btn btn-primary pull-right")%>
  </div>
  <br>
  <table class="table table-striped table-inverse">
    <thead>
      <tr>
        <td>#</td>
        <td>Movie</td>
        <td>Main Cast</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "group_item", :collection => @films, :as => :film %>
    </tbody>
  </table>
</div>
